@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "base/manifest";
@import "components/sprite";
h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
code {
	background: #d3dddd;
	padding: 5px;
	margin-right: 5px;
}
body {
    font-family: $font-text, Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: rem(20);
    font-size: rem(16);
}
a:hover{
    color: $accent-color;
}
.ttl{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(40);
        font-weight: bold;
        font-family: $PN, Areal, sans-serif;
    }
    h2{
        font-size: rem(22);
        font-weight: 600;
    }
    h3{
        font-size: rem(20);
        font-weight: bold;
    }
    h4{
        font-size: rem(18);
        font-weight: 600;
    }
    h5{
        font-size: rem(16);
        font-weight: 600;
    }
    h6{
        font-size: rem(14);
        font-weight: 600;
    }
}

.btn{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    button{
        cursor: pointer;
        font-size: rem(16);
        
        max-width: 270px;
        height: 50px;
        border-radius: 25px;
        width: 100%;
        border: 2px solid $btn-color;
        padding: 0 30px;
        @include trans(0.2);
        background: none;
        outline: none;
        color: $wt;
        &:hover{
             background: $btn-color;
             color: $wt;
        }
        &:active {
            background: #F00;
            border: 2px solid red;
            color: $wt;

        }
    }
}




.image-source-link {
    color: $btn-color;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
        opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


.window-modal{
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 300px;
    border-radius: 8px;
    padding: 30px 25px;
    background: $bg-color !important;
    color: #fff;
    form{
        .logo-form{
            img{
                width: 120px;
                height: 49px;
            }
        }
        h2{
            text-align: center;
            font-size: 26px;
        }
        .flex-form{
            display: flex;
            flex-direction: column;
            input{
                margin-bottom: 10px;
                height: 35px;
                width: 100%;
                color: #9c9a9a;
                border: 2px solid #272727;
                border-radius: 3px;
                padding: 0 15px;
                background: none;
                &:first-child{
                    margin-top: 20px;
                }
                &:focus{
                    outline: none;
                    border-color: $accent-color;
                }
                &.error{
                    border-color: #f00;
                }
            }
            .btn{
                margin-top: 35px;
                button{}
            }
        }
    }
    .flex-form-logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.persd-sogl{
    margin: 15px 10px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    a{
        color: $link-color;
    }
}
.mfp-bg{
    background: $accent-color !important;
    opacity: 1;
}




.col-two{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: number;
}

header{
    width: 100%;
    min-height: 107px;
    height: 100%;
    background:$bg-color;
    .flex-header{
        min-height: inherit;
    }
    .logich{
        a{
            text-decoration: none;
        }
        span{
            display: block;
            &:first-child{
                color: #c2c2c2;
                font-family: "DIN Pro";
                font-size: 57px;
                font-weight: 400;
                line-height: 67px;
                text-transform: uppercase;
                letter-spacing: -0.5px;
            }
            &:last-child{
                color: $accent-color;
                font-family: "Roboto Condensed";
                font-size: 19px;
                font-weight: 400;
                letter-spacing: -0.38px;
                line-height: 22px;
                text-transform: uppercase;
                margin-top: -8px;
            }
        }
    }
    .phone{
        img{
            width: 25px;
            height: 25px;
        }
        a{
            color: #eaeaea;
            font-family: "Roboto Condensed";
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            span{
                margin-left: 17px;
            }
        }
    }
}
#main{
    min-height: 100vh;
    height: 100%;
    background-color: #000;
    background:url(../img/bg.jpg)repeat-y;
}
.one-screen{
    .ban{
        .ttl{
            margin-top: -90px;
            h1{
                color: #ffffff;
                font-family: Playfair;
                font-size: 65px;
                line-height: 86px;
                text-transform: uppercase;
            }
        }
        .description{
            margin-top: 70px;
            p{
                color: #c2c2c2;
                font-size: 21px;
                line-height: 32px;
                max-width: 530px;
            }
        }
        .btn{
            margin-top: 78px;
            button{

            }
        }
    }
    .book{
        margin-top: 50px;
        .sldr-book{
            .photo-book{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                img{
                    position: relative;
                    top: 0;
                    right: 0;
                    max-width: 100%;
                    width: auto !important;
                    max-height: 600px;
                    height: auto;
                }
            }

            .courusel-book{
                .item{
                    @include trans(0.4);
                    position: relative;
                    width: 115px !important;
                    height: 90px;
                    border-radius: 4px;
                    border: 1px solid $accent-color;
                    background: #242B2E;
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    img{

                    }
                    &:hover, .slick-active .item{
                        background:$accent-color;
                    }
                }
            }
        }
    }
}

.two-screen{
    .elya{
        position: relative;
        
        img{
            position: relative;
            bottom: -3px;
            max-width: 400px;
            height: auto;
            width: 100%;
        }
    }
    .dialog{
        .name{
            h2{
                color: #c2c2c2;
                font-family: "DIN Pro";
                font-size: 57px;
                font-weight: 400;
                line-height: 67px;
            }
            .whois{
                color: #666666;
                font-family: Ubuntu;
                font-size: 16px;
            }
        }
        .txt{
            margin-top: 60px;
            position: relative;
            padding: 50px 60px;
            p{
                color: #baffde;
                font-family: Ubuntu;
                font-size: 18px;
                font-style: italic;
                line-height: 23px;
                padding: 7px 0;
            }
            &:before{
                content:"";
                position: absolute;
                background:url(../img/quot.png)no-repeat;
                width: 40px;
                height: 30px;
                top: 0;
                left: 0;
            }
            &:after{
                content:"";
                position: absolute;
                background:url(../img/quot.png)no-repeat;
                width: 40px;
                height: 30px;
                bottom: 0;
                right: 0;
                transform: rotate(180deg);
            }
        }
    }
}

footer{
    background:$bg-color;
    .logo{
        .most{
            font-family: "DIN Pro";
            font-size: 57px;
            font-weight: 400;
            color: #c2c2c2;
            line-height: 67px;
            text-transform: uppercase;
            letter-spacing: -0.5px;
        }
        .sbor{
            color: #baffde;
            font-family: "Roboto Condensed";
            font-size: 19px;
            font-weight: 400;
            letter-spacing: -0.38px;
            margin-top: -6px;
            text-transform: uppercase;
        }
    }
    .insta{
        color: #fff;
        font-size: 14px;
        a{
            color: #ffffff;
            font-size: 18px;
            text-decoration: none;
            border-bottom: 2px solid $btn-color;
            &:hover{
                color: $btn-color;
            }
        }
    }
    .copiright{
        border-top: 1px solid #313938;
        text-align: center;
        margin-top: 20px;
        padding: 10px 0;
        a{
            color: #2ECC71;
        }
        p{
            color: #797979;
            font-size: 12px;
            font-weight: 400;
            line-height: 19px;
        }
    }
}
.slick-current .item{
    background: $accent-color !important;
}









///////////magnific

$bgcolor-form: #F4FCFF;
.window-modal{
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 300px;
    border-radius: 20px;
    padding: 30px 25px;
    background: $bgcolor-form;
    form{
        .logo-form{
            img{
                width: 120px;
                height: 49px;
            }
        }
        h2{
            text-align: center;
            font-size: 26px;
        }
        .flex-form{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            input{
                margin-bottom: 10px;
                height: 35px;
                width: 100%;
                color: $accent-color;
                border: 1px solid $accent-color;
                border-radius: 3px;
                padding: 0 15px;
                background: none;
                &:first-child{
                    margin-top: 20px;
                }
                &:focus{
                    outline: none;
                    border-color: $btn-color;
                }
                &.error{
                    border-color: #f00;
                }
            }

            .btn{
                margin-top: 35px;
                button{}
            }
        }
    }
}
.mfp-close-btn-in .mfp-close{
    color: $btn-color;
}
.persd-sogl{
    margin: 15px 10px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    a{
        color: $accent-color;
    }
}



.loaderArea{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.96);
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}