<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="slick/slick-theme.css">
	<link rel="stylesheet" href="slick/slick.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="shortcut icon"  href="favicon.ico">
</head>
<body>
    <div class="loaderArea">
        <div class="load">
          <hr/><hr/><hr/><hr/>
        </div>
    </div>
    <header>
        <div class="main-menu">
            <div class="flex container tango">
                <div class="logo">
                    <div class="img"><img src="img/logo.svg" alt=""></div>
                    <div class="slogan">
                        <p>Транспортно-</p>
                        <p>Экспедиторская</p>
                        <p>Компания</p>
                    </div>
                </div>
                <div class="menu-call">
                    <div class="up-block">
                        <div class="ph-one"><a href="tel:8 (812) 960-20-43">8 (812) 960-20-43</a></div>
                        <div class="ph-two"><a href="tel:8 (921) 960-20-43">8 (921) 960-20-43</a></div>
                        <div class="callback">
                            <div class="btn"><button>Перезвонить</button></div>
                        </div>
                    </div>
                    <div class="down-block">
                        <nav>
                            <ul>
                                <li class="active"><a href="#oneScreen">Главная</a></li>
                                <li><a href="#twoScreen">О нас</a></li>
                                <li><a href="#threeScreen">Галерея</a></li>
                                <li><a href="#fourScreen">Почему мы</a></li>
                                <li><a href="#fiveScreen">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>


























    <div class="window-modal mfp-hide white-popup-block" id="window-modal-id">
        <form>
            <h2>Заказать книгу</h2>
             <div class="flex-form">
                <input type="text" id="name" name="name" placeholder="Ваше имя" >
                <input type="text" name="phone" placeholder="Ваш телефон" >
                <div class="btn result"><button id="modal-button">Отправить</button></div>
            </div>
            <p class="persd-sogl black-pd">Нажимая кнопку «Отправить» вы соглашаетесь с <a class="soglasie" target="_blank" href="soglasie.html">Пользовательским соглашением</a>  и <a href="persdata.html" target="_blank">Положением о Персональных данных</a>
            </p>
        </form>
    </div>
    
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
	<script src="slick/slick.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.maskedinput.min.js"></script>
	<script src="js/custom.js"></script>
    <script>
        
    $(window).on("load", function() {
      $('.loaderArea').delay(400).fadeOut('slow');
    });

    </script>
</body>
</html>