input::-webkit-input-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
input::-moz-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
input:-moz-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
input:-ms-input-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
textarea::-webkit-input-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
textarea::-moz-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
textarea:-moz-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
textarea:-ms-input-placeholder {
  color: $placeholder-color;
  font-size: rem(14);
}
input:focus, textarea:focus{
    border-color: $focus-color;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 50px;
  box-shadow: 0px 1px 1px #fff inset;
  background-color: #EFEFEF;
  z-index: 999;
  background-image: url("../img/polsun.png");
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 11px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.ttl-h2{
  max-width: 573px;
  padding: 25px 0;
  @include shadow();
  border-radius: 4px;
  background-color: #ffffff;
}
.mt-block{
    margin-top: $mb;
}
.mt-ttl{
    margin-top: $mt;
}
.col-pol{
    width: 50%;
}
/*/////////////////SLICK DOTS*/
.slick-dots li button{
  width: 20px;
  height: 20px;
  border: 2px solid #777;
  border-radius: 100%;
  &[aria-selected="true"]{
    border: 2px solid #000;
  }
  &:before{
    display: none;
  }
}
.slick-active{
  button{
    border: 2px solid #000 !important;
  }
}
.slick-dots{
  position: relative;
  padding-top: 10px;
}
/*/////////////////SLICK ACTIVE*/
.slick-current .item{
    /*background: $accent-color !important;*/
}

.ttl{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem($h1-fz);
        font-weight: 900;
        line-height: rem($h1-fz + ($h1-fz / 6));
        letter-spacing: 0.07em;
        text-transform: uppercase;
    }
    h2{
        font-size: rem($h2-fz);
        line-height: rem($h2-fz + ($h2-fz / 6));
        font-weight: 600;
    }
    h3{
        font-size: rem($h3-fz);
        line-height: rem($h3-fz + ($h3-fz / 6));
        font-weight: 500;
    }
    h4{
        font-size: rem($h4-fz);
        line-height: rem($h4-fz + ($h4-fz / 6));
        font-weight: 500;
    }
    h5{
        font-size: rem($h5-fz);
        line-height: rem($h5-fz + ($h5-fz / 6));
        font-weight: 500;
    }
    h6{
        font-size: rem($h6-fz);
        line-height: rem($h6-fz + ($h6-fz / 6));
        font-weight: 500;
    }
}

/*STYLE BUTTONS*/
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
        border: none;
        cursor: pointer;
        font-size: rem(16);
        max-width: 270px;
        height: 30px;
        border-radius: 15px;
        width: 100%;
        background: $btn-color;
        padding: 0 30px;
        @include trans(0.2);
        outline: none;
        color: $wt;
        &:hover{
             background: #b22126;

        }
        &:active {
            background: #b22126;
        }
    }
}

.image-source-link {
    color: $btn-color;
}
.col-two{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: number;
}




/*//////////////////PRELOADER*/
.loaderArea{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.96);
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#fff;animation-delay:-1.5s}
.load :nth-child(2){background:$accent-color;animation-delay:-1s}
.load :nth-child(3){background:#fff;animation-delay:-0.5s}
.load :last-child{background:$accent-color}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}

/*///////PERSDATA*/
.persd-sogl{
    margin: 15px 10px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    a{
        color: $accent-color;
    }
}

/*//////////magnific*/
.window-modal{
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 300px;
    border-radius: 6px;
    padding: 30px 25px;
    background: $bgcolor-form;
    form{
        .logo-form{
            img{
                width: 120px;
                height: 49px;
            }
        }
        h2{
            text-align: center;
            color: $wt;
            font-size: 26px;
        }
        .flex-form{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            input, textarea{
                margin-bottom: 10px;
                height: 35px;
                width: 100%;
                color: $accent-color;
                border: 1px solid $accent-color;
                border-radius: 3px;
                padding: 0 15px;
                background: none;
                &:first-child{
                    margin-top: 20px;
                }
                &:focus{
                    outline: none;
                    border-color: $btn-color;
                }
                &.error{
                    border-color: #f00;
                }
            }
            textarea{
              height: 85px;
              padding-top: 10px;
            }
            .btn{
                margin-top: 35px;
                button{}
            }
        }
    }
}
.mfp-close-btn-in .mfp-close{
    color: $btn-color;
}
