@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
    //font-size: rem(VAR);
}

@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
        font-family: $fontfamily;
        src: url($dir+$fontname+'.eot');
        src: url($dir+$fontname+'.eot') format("eot"),
             url($dir+$fontname+'.ttf') format("truetype");
        font-weight: $fweight;
        font-style: $fstyle;
    }
}
@mixin trans($time){
    transition: all $time+s;
}

@mixin shadow(){
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
@mixin sprite($t, $l, $h, $w, $bpOne, $bpTwo){
    position: absolute;
    content:"";
    top: $t+px;
    left: $l+px;
    height: $h+px;
    width: $w+px;
    background:url("../src/img/sprites/sprite.svg")no-repeat;
    background-position: $bpOne+px $bpTwo+px;
}