@include font($RCb, $bold, $normal, $RCN);
@include font($RC, $normal, $normal, $RCN);
@include font($DCb, $bold, $normal, $DN);
@include font($Ui, $normal, $italic, $UN);
@include font($U, $normal, $normal, $UN);
@include font($Cb, $bold, $normal, $CN);