$bg-color:#242B2E;
$link-color: #00b;
$wt:#fff;
$bk:#000;
$dark:#ededed;
$accent-color: #adfffa;
$focus-color: $accent-color;
$fz: rem(16);
$h2-fz:rem(22);
$h3-fz:rem(20);
$btn-color: #d84d21;
$placeholder-color: #767676;
$browser-context: 16; // Default
$dir:'../fonts/';

$RCb: 'RobotoCondensed-Bold';
$RC: 'RobotoCondensed-Regular';
$DCb: 'DINPro-CondensedBold';
$Ui: 'UbuntuItalic';
$U: 'UbuntuRegular';
$Cb: 'Cuprum-Bold';

$RCN:"Roboto Condensed";
$DN:"DIN Pro";
$UN:"Ubuntu";
$CN:"Cuprum";

$font-text: $UN;

$normal: normal;
$italic: italic;
$bold: 700;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$mt:100px;
$mb:60px;