$bg-color:#242B2E;
$link-color: #00b;
$wt:#fff;
$bk:#000;
$dark:#ededed;
$accent-color: #adfffa;
$focus-color: $accent-color;
$fz: rem(16);
$h2-fz:rem(22);
$h3-fz:rem(20);
$btn-color: #ED1A23;
$placeholder-color: #767676;
$browser-context: 16; // Default
$dir:'../fonts/';

$Rbk: 'Roboto-Black';
$RC: 'RobotoCondensed-Regular';
$Rb: 'Roboto-Bold';
$Rm: 'Roboto-Medium';
$R: 'Roboto-Regular';


$RN:"Roboto";
$RCN:"Roboto Condensed";

$font-text: $RN;

$normal: normal;
$italic: italic;
$bold: 700;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$mt:100px;
$mb:60px;